.desk {
  text-align: center;
  width: 300px;
  height: 300px;
  outline: 2px solid royalblue;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
}

.desk__item {
  outline: 1px solid royalblue;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  color: royalblue
}

.desk__item:hover {
  background-color: rgb(175, 193, 249);
  cursor: pointer;
}